
:root{
color-scheme: light dark;
--dark-color: hsl(277, 37%, 11%);
--light-color: hsl(0, 0%, 100%);
}

[data-dark="true"]{
    color-scheme: dark;
}
[data-dark="false"]{
    color-scheme: light;
}

html, input, textarea, button{
    color: light-dark(var(--dark-color), var(--light-color));
    background-color: light-dark(var(--light-color), var(--dark-color));
}

input, textarea, button{
    border: 1px solid light-dark(var(--dark-color), var(--light-color))
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a9a8a8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 28px;
    left: 3px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(7, 0, 43);
  }

  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }













